#whitepaper{
    background-image: url("../../assets/ianua-background.gif");
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: grey;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#whitepaper *{
    font-size: 2rem;
}
#whitepaper-text{
    font-size: 1.7rem;
    margin: 15px;
    text-align: center;
    /* color:red */
}
#whitepaper-social-media-buttons-wrapper{
    height: 60px;
margin-bottom: 20px;
    position: absolute;
    bottom: 5vh;
    right:6vw;
    display: flex;
    flex-direction: row;
    
}
.whitepaper-social-media-button {
    font-size: 2rem;
    margin: 20px;
}
.whitepaper-social-media-button :hover{
    color: var(--dark-city-green);
}
a#whitepaper-download-button{
    font-size: 1.7rem;
    color:white;
}
a#whitepaper-download-button:hover{
    color: var(--dark-city-green) !important;
}
/* #whitepaper-download-button{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 10vh;
    max-height: 150px;
    width: 40vw;
    max-width: 400px;
    background-color: black;
    color:white;
    border-style:solid;
    border-color: grey;
}


#whitepaper-download-button:hover{
    background-color: gray  ;
    color:black;
    border-style:solid;
    border-color: black;
} */
