.text-box-landing-page-wrapper{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.text-box-landing-page{
    /* top:50%; */
    /* position: absolute; */
    padding: 10px;
    position: relative;
    width:clamp(25ch, 50% , 35ch);
    /* min-width: 300px; */
    margin-bottom: 200px;
    
    height: auto;
    min-height: 30vh;

    background-color: black;


    border-radius: 0.2rem;
    border-style: solid;
    border-color:  white;
}
.text-box-landing-page *{
    color: white;
    position: relative;
    height: auto;
}
.text-box-landing-page h1{
    font-size: 2rem;
    text-align: center;
    
}